<footer class="footer">
  <div class="footer-columns">
    <div class="footer-col">
      <h4>Bibendum auctor</h4>
      <ul>
        <li><a href="#">Aenean ligula</a></li>
        <li><a href="#">Dapibus at dolor</a></li>
        <li><a href="#">Molestie id</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Class aptent</h4>
      <ul>
        <li><a href="#">Velit mauris</a></li>
        <li><a href="#">Aliquam massa</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 <strong>BeSport</strong></p>
  </div>
</footer>
